<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card *ngFor="let item of quoteCollection">
        <ion-card-content>
        <ion-card-title>
        #{{item.id}}
        </ion-card-title>
        <p>
        {{item.text}}
        </p>
        <p class="author">
            {{item.person | uppercase}}
        </p>
        </ion-card-content>
        <ion-grid>
        <ion-row no-padding>
        <ion-col text-right>
        <button ion-button clear small style="color:red" (click)="onAddQuote(item)" *ngIf="isFav(item.id)" icon-start>
        <ion-icon name='star'></ion-icon>
        Favorites
        </button>
        <button ion-button clear small style="color:red" (click)="onDeleteQuote(item)" *ngIf="unFav(item.id)" icon-start>
          <ion-icon name='star'></ion-icon>
          Unfavorites
          </button>
        </ion-col>
        </ion-row>
        </ion-grid>
        </ion-card>

</ion-content>
