<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Log in</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
			<ion-list>

				<button ion-button icon-left block clear (click)="loginWithGoogle()">
					<ion-icon name="logo-google"></ion-icon>
					Log in with Google
				</button>
			</ion-list>
</ion-content>
