<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs color="yellow" >
  <ion-tab [root]='FavPage' tabTitle='Favorites' tabIcon='star'></ion-tab>
  <ion-tab [root]='LibPage' tabTitle='Library' tabIcon='book'></ion-tab>
</ion-tabs>