<!--
  Generated template for the FavoritesmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
        <ion-card-title>
        {{quoteCollection.id}}
        </ion-card-title>
        <p>
        {{quoteCollection.text}}
        </p>
        <p class="author">
            {{quoteCollection.person}}
        </p>
        </ion-card-content>
        <ion-grid>
        <ion-row no-padding>
        <ion-col text-right>
        <button ion-button clear small style="color:red" (click)="onDeleteQuote(quoteCollection)" icon-start>
          <ion-icon name='star'></ion-icon>
          Unfavorites
          </button>
        </ion-col>
        </ion-row>
        </ion-grid>
        </ion-card>
  <button danger (click)="closeModal()"><ion-icon name="trash"></ion-icon>Close</button>
</ion-content>
