<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button round (click)="logEvent($event)">Click Button</button>
  <button ion-button round (click)="goToPage1()">Go Page 1</button>
</ion-content>
