<ion-menu side="left" [content]="sideMenuContent">
    <ion-header>
    <ion-toolbar text-center>
    <h2>Menu</h2>
    </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
    <button ion-item (click)="onLoad(TabsPage)">
    <ion-icon name="quote" item-left></ion-icon>
    Quotes
    </button>
    <button ion-item (click)="onLoad(SettingsPage)">
    <ion-icon name="settings" item-left></ion-icon>
    Settings
    </button>
    </ion-list>
    </ion-content>
    </ion-menu>
    <ion-nav [root]="tabsPage" #sideMenuContent></ion-nav>

    <ion-navbar>
        <ion-buttons start>
        <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-navbar>
