<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item (click)="goToDetails(item.quotes)" *ngFor="let item of quoteCollection" >
            <ion-icon item-start name="{{item.icon}}"></ion-icon>
            <h2>{{item.category|uppercase}}</h2>
            <p>{{item.quotes.length}} quotes</p>
          </button>
      </ion-list>
   

</ion-content>
