<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-content>
        <ion-list>
       
        <ion-item-sliding *ngFor="let item of quoteCollection" (click)="openModal(item)">
       
          <ion-item>
          {{item.person}}<br>
          {{item.text}}
          </ion-item>
      
          <ion-item-options>
            <button danger (click)="removeQuotes(item)"><ion-icon name="trash"></ion-icon>Delete</button>
          </ion-item-options>
        </ion-item-sliding>
       
        </ion-list>
      </ion-content>
</ion-content>
